/NOTAS.txt
/TMP/*
/test.sh
test.sh
/Backups/*
Backups/*
/logs/*
logs/*
tmp/*
/tmp/*
/conf/home/.vim/colors/monokai_1.vim
conf/home/.vim/colors/monokai_1.vim
/conf/home/.vim/colors/wombat.vim
conf/home/.vim/colors/wombat.vim
/conf/home/.vim/bundle/*
conf/home/.vim/bundle/*
/conf/home/.vim/sessions/*
conf/home/.vim/sessions/*
