/NOTAS.txt
/TMP/*
/test.sh
test.sh
/Backups/*
Backups/*
/logs/*
logs/*
tmp/*
/tmp/*
/conf/home/.vim/colors/monokai_1.vim
conf/home/.vim/colors/monokai_1.vim
/conf/home/.vim/colors/wombat.vim
conf/home/.vim/colors/wombat.vim
/conf/home/.vim/bundle/*
conf/home/.vim/bundle/*
/conf/home/.vim/sessions/*
conf/home/.vim/sessions/*
errores.log
/errores.log
/conf/home/.atom/Diccionarios
/conf/home/.vim/UltiSnips
/conf/home/.vim/after
/conf/home/.vim/autoload
/conf/home/.vim/doc
/conf/home/.vim/etc
/conf/home/.vim/ftplugin
/conf/home/.vim/indent
/conf/home/.vim/initialize.py
/conf/home/.vim/jedi_vim.py
/conf/home/.vim/macros
/conf/home/.vim/plugin
/conf/home/.vim/pythonx
/conf/home/.vim/samples
/conf/home/.vim/scripts
/conf/home/.vim/snippets
/conf/home/.vim/spec
/conf/home/.vim/syntax_checkers
/conf/home/.vim/test
/.idea
npm-debug.log
/npm-debug.log
.ropeproject
__pycache__
