/NOTAS.txt
/TMP/*
/test.sh
test.sh
/Backups/*
Backups/*
/logs/*
logs/*
tmp/*
/tmp/*
errores.log
/errores.log
errors.log
/errors.log
/conf/home/.vim/plugin
conf/home/.vim/plugin
/conf/home/.vim/bundle
conf/home/.vim/bundle
/conf/home/.vim/colors
conf/home/.vim/colors
/conf/home/.vim/sessions
conf/home/.vim/sessions
/conf/home/.vim/doc
conf/home/.vim/doc
/conf/home/.vim/autoload
conf/home/.vim/autoload
/conf/home/.vim/.netrwhist
conf/home/.vim/.netrwhist
/conf/home/.vim/vimoutlinerrc
conf/home/.vim/vimoutlinerrc
/.idea
npm-debug.log
/npm-debug.log
.ropeproject
__pycache__
/.env
__init__.py
.DS_Store
