#Bloquear descarga del htaccess
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

#Bloquear descarga del htpasswd
<Files .htpasswd>
    Order allow,deny
    Deny from all
</Files>

#Permitir mostrar directorios
Options +Indexes

#Quitar atributos al listar directorios
IndexOptions -FancyIndexing


#Proteger mediante contraseña
AuthType Basic
AuthName "Zona Privada"
AuthUserFile /var/www/.htpasswd
Require valid-user
