"*":
  "atom-autocomplete-php":
    binComposer: "composer"
  "atom-i18n":
    locale: "es"
  "atom-ternjs":
    excludeLowerPriorityProviders: true
    inlineFnCompletionDocumentation: true
    snippetsFirst: true
    useSnippets: true
  "atom-toolbar": {}
  "autocomplete-python": {}
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "welcome"
      "linter-pycodestyle"
      "remote-edit"
      "script"
      "open-bash-git"
      "merge-conflicts"
      "linter-ui-default"
      "linter-sass-lint"
      "linter-php"
      "linter-js-blyss"
      "language-unix-shell"
      "intentions"
      "highlight-selected"
      "goto-definition"
      "git-time-machine"
      "git-plus-toolbar"
      "git-plus"
      "git-control"
      "git-commit"
      "expose"
      "busy-signal"
      "atom-sass"
      "atom-jade"
      "Atom-Bash-Snippets"
      "vim-mode-plus"
      "about"
      "linter"
      "atom-i18n"
      "linter-tidy"
      "linter-csslint"
      "linter-eslint"
      "linter-htmlhint"
      "linter-jshint"
      "linter-phpcs"
      "linter-python"
      "linter-python-pep8"
      "linter-spell-shellscript"
      "atom-ide-ui"
      "atom-toolbar"
      "panel-boss"
      "language-csharp"
      "language-java"
      "symbols-list"
      "tree-view"
    ]
    projectHome: "$HOME/1_GIT/"
    telemetryConsent: "no"
    themes: [
      "nucleus-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
  "file-icons": {}
  "linter-phpcs":
    autoExecutableSearch: false
    codeStandardOrConfigFile: "/opt/composer/vendor/yiisoft/yii2-coding-standards/Yii2"
    executablePath: "/opt/composer/vendor/bin/phpcs"
    ignorePatterns: [
      "**/views/**"
      "**/tests/**"
    ]
  "linter-ui-default":
    panelHeight: 300
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    absoluteMode: true
    plugins:
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
  nuclide:
    "atom-ide-code-format":
      formatOnSave: true
    "atom-ide-diagnostics-ui": {}
    "atom-ide-outline-view": {}
    "nuclide-home":
      showHome: false
  "php-cs-fixer":
    executablePath: "/opt/composer/vendor/bin/php-cs-fixer"
    executeOnSave: true
    pathMode: "intersection"
  "php-debug":
    AutoExpandLocals: true
    currentPanelMode: "bottom"
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.html"
      "text.php"
      "text.python"
      "text.js"
    ]
    localePaths: [
      "$HOME/.atom/Diccionarios"
    ]
    locales: [
      "es-ES"
      "es_ES"
      "es_ES.UTF-8"
      "en-EN"
      "en_EN"
      "en_EN.UTF-8"
      "Spanish"
      "English"
      "English (American)"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "symbols-list":
    hideOnEmptyList: true
  "tool-bar":
    position: "Left"
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    softWrapHangingIndent: 4
".hack.html.text":
  editor:
    softWrapHangingIndent: 4
".python.source":
  editor:
    autoIndentOnPaste: true
