# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on OS X and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * https://atom.io/docs/latest/hacking-atom-debugging#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

'atom-workspace atom-text-editor:not([mini])':
    # you may have to unset the keybinding if it's already in use.

    # Expand current cursor
    'ctrl-alt-down': 'multi-cursor:expandDown'
    'ctrl-alt-up':   'multi-cursor:expandUp'

    # Move the last cursor.
    #'ctrl-alt-shift-down':  'multi-cursor:move-last-cursor-down'
    'ctrl-alt-right': 'multi-cursor:move-last-cursor-right'
    'ctrl-alt-left':  'multi-cursor:move-last-cursor-left'
    #'ctrl-alt-shift-up':    'multi-cursor:move-last-cursor-up'

## Comprobar Ortografía (Spell-Check)
'atom-text-editor':
  'alt-d': 'spell-check:toggle'
  'alt-s': 'spell-check:correct-misspelling'
