[user]
    name =
    email =
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    his = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[core]
    editor = nano -wc
