
/*
Azul: #93c1ec - rgb(147, 193, 236) - rgba(147, 193, 236, 0.9)
Granate: #7a2149 - rgb(122, 33, 73) - rgba(122, 33, 73, 0.9)
Indigo: #1d2860 - rgb(29, 40, 96) - rgba(29, 40, 96, 0.9)
*/

* {
  transition: none;
  box-shadow: none;
  font-family:  "JetBrains Mono", terminus, monospace, Monospaced;
  font-size: 0.8rem;
  font-weight: bold;
  color: #93c1ec;
}

#waybar {
  background: rgba(29, 40, 96, 0.8);
}

#workspaces {
  margin: 0 1px;
  color: transparent;
}

#workspaces button {
  margin: 2px 0;
  padding: 0 4px;
}

#workspaces button.visible {
}

#workspaces button.focused {
  border-radius: 10px;
  background-color: rgba(122, 33, 73, 0.9);
}

#workspaces button.urgent {
  border-radius: 10px;
}

#workspaces button.urgent * {
  color: rgba(246,71,71,0.8);
}

#tray {
  margin: 3px 2px;
  padding: 1px 10px 1px 10px;
  border-radius: 12px;
  background-color: rgba(0,0,0,0.4);
}

#tray * {
  padding: 0 8px;
  border-left: 1px solid rgba(147, 193, 236, 0.5);
}

#tray *:first-child {
  border-left: none;
}

#mode, #battery, #cpu, #disk, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #mpd, #clock, #temperature {
  margin: 4px 2px;
  padding: 0 6px;
  border-radius: 20px;
  min-width: 10px;
  background-color: transparent;
}

#clock {
  margin: 4px 2px;
}

#mpd *{
  min-width: 10px;
  font-size: 11px;
  font-family: "JetBrains Mono", terminus, monospace, Monospaced;
}

#custom-power{
  margin: 4px 5px 4px 1px;
  padding: 0 6px;
  background-color: #722F37;
  border-radius: 10px;
  min-width: 15px;
}

#custom-recorder, #custom-audiorec {
  margin: 4px 2px;
  padding: 0 6px;
  background-color: rgba(175,65,84,0.8);
}

#custom-launcher{
  margin: 4px 1px 4px 5px;
  padding: 0 6px;
  color: #7a2149;
  background-color: #93c1ec;
  border-radius: 10px;
  min-width: 15px;
}

#temperature.critical {
  color: #800020;
}

/* Título de ventana */
#window {
  font-size: 1rem;
}