[Desktop Entry]
Name=Firefox Nightly
Name[es]=Firefox Nightly
Comment=Browse the World Wide Web
Comment[es]=Navegue por la web
GenericName=Web Browser
GenericName[es]=Navegador web
X-GNOME-FullName=Firefox Nightly Web Browser
X-GNOME-FullName[es]=Navegador web Firefox Nightly
Exec=~/.local/bin/firefox-quantum/firefox-nightly %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox-developer
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox-Nightly
StartupNotify=true
Name[es_ES]=firefox-nightly
