[Desktop Entry]
Name=Firefox Developer
Name[es]=Firefox Developer
Comment=Browse for Developers
Comment[es]=Navegador WEB para Desarrolladores
GenericName=Web Browser for Developers
GenericName[es]=Navegador web
X-GNOME-FullName=Firefox Developer
X-GNOME-FullName[es]=Navegador web Firefox Developer
Exec=.local/bin/firefox-developer %u -P Firefox-Developer
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox-developer-icon
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox-Developer
StartupNotify=true
Name[es_ES]=firefox-developer
