[Desktop Entry]
Name=PyCharm
Type=Application
Categories=Development
Exec=.local/opt/pycharm/bin/pycharm.sh %U
Icon=/usr/share/icons/fryntiz/pycharm.png
MimeType=text/html;
Keywords=Text;Editor;Write;Web;Development;
